/* header, footer 전용 위치 */
/* header pc */
header {
    background: #222; height: 80px;
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}
header h1 {width: 300px;}
header h1 a {}
header h1 a img {width: 100%;}
header nav {position: relative;}
header nav .gnb {display: flex;}
header nav .sub_bg {
    /* 서브 공통 배경 위치 */
    background: #222;
    display: block; position: absolute;
    width: 100%; height: 150px; z-index: 100;
}
header nav .gnb > li {
    margin-right: 60px; position: relative; z-index: 200;
}
header nav .gnb > li:last-child {margin: 0;}
header nav .gnb > li > a {
    color: #fff;
    font-size: 1.19rem;/* 19px */
    letter-spacing: -2%;
}
header nav .gnb > li > .sub {
    position: absolute; top: 50px;
    width: max-content; text-align: center;
    /* absolute 적용 상태에서 요소를 부모 기준 가운데 배치할 경우 */
    left: 50%; transform: translateX(-50%);
}
header nav .gnb > li > .sub li {}
header nav .gnb > li > .sub li a {
    color: #fff;
    line-height: 1.7;
}
header .lnb {display: flex;}
header .lnb a {margin-left: 14px;}
header .lnb a:first-child {margin-left: 0;}
header .lnb .content_link {
    color: #fff;
    font-size: 1.19rem;/* 19px */
    letter-spacing: -2%;
    border: 2px solid #fff;
    border-radius: 5px; padding: 4px; height: max-content;
}
header .lnb .alarm {width: 32px; height: 32px;}
header .lnb .alarm img {filter: invert(1); width: 100%;}
/* img 태그를 반응형 처리할 경우는 img는 width : 100% 상대값으로 설정하고 img의 부모 태그한테 원하는 px크기를 적용하는 방향으로 처리한다. */
/* header tablet+mobile nav */
header .lnb .m_nav {
    background: brown;
    width: 32px; height: 32px;
    position: relative;
}
header .lnb .m_nav span {
    display: block; width: 100%; height: 5px; background: #fff;
    position: absolute; left: 0;
}
header .lnb .m_nav span:nth-child(1) {top: 0;}
header .lnb .m_nav span:nth-child(2) {top: 40%;}
header .lnb .m_nav span:nth-child(3) {bottom: 0;}
/* 전체메뉴 span*3 X모양 만들기 */
/* header .lnb .m_nav span:nth-child(1) {transform: rotate(45deg);
transform-origin: left top;}
header .lnb .m_nav span:nth-child(2) {display: none;}
header .lnb .m_nav span:nth-child(3) {transform: rotate(-45deg); transform-origin: left top;} */
header .m_nav_wrap {display: none;}
header .m_nav_wrap .gnb {}
header .m_nav_wrap .gnb > li {}
header .m_nav_wrap .gnb > li > a {}
header .m_nav_wrap .gnb > li > .sub {}
header .m_nav_wrap .gnb > li > .sub li {}
header .m_nav_wrap .gnb > li > .sub li a {}